.product-color-labels {
  display: flex;
  padding: 1px 0;
  align-items: center;
  flex-wrap: wrap;
}

.product-color-labels label {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: var(--back-color);
  margin-right: 8px;
  cursor: pointer;
  position: relative;
}

.product-color-labels input:checked + label::before {
  display: block;
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background-color: transparent;
  border: 1px solid var(--back-color);
  top: -3px;
  left: -3px;
}

.product-color-labels input:checked + label::after {
  display: block;
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: transparent;
  /* border: 1px solid #ffffff; */
  top: 0px;
  left: 0px;
}